
<div class="card">
<app-header [sidenav]="leftSidenav"></app-header>
<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #leftSidenav mode="side" opened>
		<app-left-menu (onSelected)="options($event)"></app-left-menu>
	</mat-sidenav>
	<mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
		<div class="main_content">
			<div *ngIf="schema.mode == 'main'" style="padding: 20px;text-align: center;">
				<img style="width: 40%;" src="/assets/logo/logovenados.png" alt="">
			</div>
			<list 
				*ngIf="schema.mode == 'list'" 
				[loading] = "loading">
			</list>
			<statistics 
				*ngIf="schema.mode == 'statistics'" 
				[loading] = "loading">
			</statistics>
			<players 
				*ngIf="schema.mode == 'players'"
				[loading] = "loading">
			</players>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
</div>